---
import Layout from "../../layouts/Layout.astro";
import PriceCard from "../../components/PriceCard.astro";

---
<Layout title="Prices - PaztG Design">
	<main class="max-w-4xl mx-auto flex flex-col gap-5">
		<div class="text-center flex flex-col gap-3">
			<h1 class="text-3xl font-bold uppercase">Prices</h1>
			<p class="text-sm">I cannot provide a fixed price as it depends on the specifics of your idea and our final discussion. However, I've created a price table to simplify the process of determining costs for you.</p>
		</div>
		<div class="flex gap-5 p-5 border border-white/20 rounded-md">
			<PriceCard />
		</div>
	</main>
</Layout>
