---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import YoutubeEmbed from "../../components/YoutubeEmbed.astro";

export const getStaticPaths = (async () => {
    const works = await getCollection("works");
    return works.map((work) => ({
        params: { slug: work.id },
        props: { work },
    }));
}) satisfies GetStaticPaths;

const { work } = Astro.props;
---

<Layout title={work.data.title}>
    <main class="">
        <YoutubeEmbed videoID={work.data.videoID} image={work.data.image.src}/>
        <h1 class="text-center text-lg px-4 lg:text-2xl font-extrabold lg:pb-6">{work.data.title}</h1>
</main>
</Layout>
