---
import Works from '../components/Works.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="h-[200vh]">
		<Works />
	</main>
</Layout>

<style>
</style>
