---
import { Image } from "astro:assets";
import PaztGLogo from "../assets/images/paztg-logo.png";
---

<header class="fixed w-full transition-all duration-300 z-10" id="navbar">
	<div class="px-5">
		<nav class="hidden lg:navbar">
			<!-- Desktop View -->
			<div class="flex-1">
				<a href="/" class="">
					<img
						src={PaztGLogo.src}
						alt="Logo"
						id="logo"
						class="h-12 w-12 invert transition-all duration-100 hover:scale-105 hover:drop-shadow-2xl hover:shadow-red-600"
					/>
				</a>
			</div>
			<ul
				class="menu menu-horizontal uppercase font-black flex-none"
				id="desktop-nav"
			>
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="/contact" class="">Contact</a>
				</li>
				<li>
					<a href="/prices" class="">Prices</a>
				</li>
			</ul>
		</nav>
		<!-- Mobile View -->
		<nav class="navbar lg:hidden">
			<div class="navbar-start">
				<a href="/">
					<img
						src={PaztGLogo.src}
						id="logo"
						alt="Logo"
						class="h-8 w-8 invert transition-all duration-300"
					/>
				</a>
			</div>
			<div class="navbar-end">
				<div class="dropdown dropdown-end">
					<label
						tabindex="0"
						class="btn btn-circle btn-ghost"
						id="menu-svg"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-5 w-5"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
							><path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M4 6h16M4 12h16M4 18h7"></path></svg
						>
					</label>
					<ul
						tabindex="0"
						class="menu dropdown-content z-[1] mt-5 w-52 rounded-box bg-base-300/80 p-2 shadow glass"
					>
						<li>
							<a href="/about">About</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
						<li>
							<a href="/prices">Prices</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>

<script>
	import $ from "cash-dom";
	let navbar = $("#navbar");
	let logo = $("[id^=logo]");
	let menuItemsDesktop = $("[id^=desktop-nav]").find("ul li a");
	let menuSVG = $("#menu-svg");

	function checkScroll() {
		let scrollY = window.scrollY;
		console.log(scrollY);
		if (scrollY > 0) {
			// Add a navbar sticky animation here
			navbar.addClass("glass py-1");
			logo.addClass("invert-0");
			menuItemsDesktop.addClass("text-neutral");
			menuSVG.addClass("text-neutral");
		} else {
			navbar.removeClass("glass py-1");
			logo.removeClass("invert-0");
			menuItemsDesktop.removeClass("text-neutral");
			menuSVG.removeClass("text-neutral");
		}
	}

	window.addEventListener("scroll", checkScroll);
</script>
